// Global styles
@use "../base/variables" as *;

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  text-transform: capitalize;
  margin: 1rem 0;
  display: inline-block;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $Very-Dark-Blue;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
